
<h2 class="alert alert-info text-center">Filter Pipes</h2>
<div class="container mt-4">
  <div class="row">
    <div class="col-md-10 offset-md-1">
      <input type="text" [(ngModel)]="searchedValue" class="form-control" placeholder="Search Player">
      <hr>
      <table class="table table-bordered">
        <thead>
          <tr>
          <th>Sr.no</th>
          <th>Name</th>
          <th>Team Name</th>
          <th>Odi Runs</th>
          <th>Test Runs</th>
          <th>Debute Year</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor ="let player of players | playerFilter : searchedValue; index as i">
            <td>{{i+1}}</td>
            <td>{{player.name}}</td>
            <td>{{player.team}}</td>
            <td>{{player.odiRuns}}</td>
            <td>{{player.testRuns}}</td>
            <td>{{player.yearDebut}}</td>
          </tr>
        </tbody>
      </table>
     
    </div>
  </div>
</div>